{% extends "global/Page.html" %}
{% load otree static %}

{% block app_styles %}
<style>
    .otree-form-errors {
        display: none;
    }
</style>
{% endblock %}

{% block title %}
<font color="burlywood"><h4 align="right">Tu Etiqueta: {{ participant_id }}</h4></font>
Preferencia de consumo de cigarrillos {% endblock %}
{% block content %}

<p> En la siguiente imagen podrás observar dos formatos de cigarrillos: cajetilla y sueltos (o cigarrillos por unidad). </p>
<br>

        <img src="{% static 'Control.png' %}" width="670px"/>
        <br><br>

        {% formfields %}

<button class="otree-btn-next btn btn-primary">Siguiente</button>

    {% include Constants.instructions_button %}
<br>
<br>
    <p>
    {% include Constants.contact_template %}
    </p>

{% endblock %}
