{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
<font color="burlywood"><h4 align="right">Tu Etiqueta: {{ participant_id }}</h4></font>
Instrucciones{% endblock %}

{% block content %}

<br>

Muchas gracias por participar de la presente sesión. Esta consta de las siguientes cinco partes:
<br><br>
<ul>
    <li> La <b> PARTE I </b> consiste en un cuestionario de comprensión de <b>estas instrucciones</b>. El cuestionario está compuesto por <b>cuatro preguntas</b>; por cada <b>respuesta correcta</b>, ganará <b>S/ 0.20</b>. Es decir, podrá ganar hasta S/ 0.80 adicionales a los S/ 5.00 que le pagaremos por la participación en la sesión. </li>
    <br>
    <li> La <b> PARTE II </b> consiste en la elección entre distintos formatos de cigarrillos (en otras palabras, su <b>decisión de consumo</b>). Se presentarán distintas situaciones para las cuales deberá elegir una de las siguientes decisiones de consumo: (i) <b>consumo en cajetilla</b>, (ii) <b>consumo de un "suelto"</b> y (iii) <b>dejar de fumar</b>, según corresponda. </li>
    <br>
    <li> La <b> PARTE III </b> consiste en una encuesta sobre su <b>frecuencia de consumo</b> y <b>datos generales</b>. </li>
    <br>
    <li> La <b> PARTE IV </b> presentará 3 cuestionarios relacionados con la <b>preferencia intertemporal</b>. A partir de ellos, usted deberá responder según sus preferencias. </li>
    <br>
    <li> La <b> PARTE V </b> muestra el <b>resumen de los pagos</b> correspondientes a cada pregunta que respondió bien, y el monto total por su participación en la sesión. Habrá un link para confirmar el medio de pago.</li>
</ul>

Finalmente, considere la siguiente información relevante:
<br><br>
<ul>
    <li> A partir de cierta sección, <b> solo continuará un grupo de participantes</b>. Es necesario mencionar que esto no afectará el pago que recibirá al final de su participación.
  <br><br>
    <li> Aunque se solicitaron sus datos personales para la inscripción a esta sesión, las respuestas brindadas en la misma serán usadas de forma <b>ANÓNIMA</b>.
</ul>
<br>
<button class="otree-btn-next btn btn-primary">Siguiente</button>

<br>
    <br>

    <p>
    {% include Constants.contact_template %}
    </p>

{% endblock %}
