{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    ¡¡¡¡Muchas gracias por su participación!!!!
{% endblock %}

{% block content %}
<br>
Como se vio en las instrucciones, solo continuarán los participantes que cumplen con ciertas características.

</br><br>
En esa línea, usted no seguirá participando de la sesión; empero, igualmente recibirá el pago que le mencionamos en las instrucciones. Podrá ver su pago y las instrucciones para obtenerlo en la siguiente sección.
<br><br>
¡Gracias, nuevamente!
<br><br>
E2Lab UP
<br>
<br>
     <button class="otree-btn-next btn btn-primary">Siguiente</button>

<br><br>
{% include Constants.contact_template %}
{% endblock %}